<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="KanKer - Kantong Kering"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity
            android:name=".InputPengeluaranActivity"
            android:exported="true"
            android:label="KanKer" />
        <activity
            android:name=".InputPemasukanActivity"
            android:exported="true"
            android:label="KanKer" />
        <activity
            android:name=".PengeluaranActivity"
            android:exported="true"
            android:label="KanKer"
            android:theme="@style/Theme.FinalProject.NoActionBar" />
        <activity
            android:name=".PemasukanActivity"
            android:exported="true"
            android:label="KanKer"
            android:theme="@style/Theme.FinalProject.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>